.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: var(--text-line-height);
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--text-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
