.contacts__list {
  display: none;

  @media screen and (min-width: 768px) {
    display:flex;
    flex-direction: column;
   gap: 10px;
    
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
.contacts__list .contacts__item + .contacts__item {
  margin-left: 50px;
}
}


.contacts__link {


  color: inherit;
  display: flex;
  align-items: center;

  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  @media screen and (min-width: 1200px) {
  padding-top: 32px;
  padding-bottom: 32px;
    }

  &:hover,
  &:focus {
    color: var(--accent-color);

    
  }
}

.contacts__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
