.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
 
}
.footer-container {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width:1200px) {
    justify-content: center;
  }
}
.footer__wrapper{
  @media screen and (max-width:768px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align:left;
  }
}
.footer__logo--white {
  color: var(--text-white-color);
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__link--white {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  color: var(--text-white-color);
}

.footer__nav > .footer__item:not(:last-child) {
  margin-bottom: 9px;
}

  .footer__nav {
    margin-bottom: 60px;
   
    @media screen and (max-width:1200px) {
 margin-left: auto;
    margin-right: auto;
    }
    @media screen and (min-width:1200px) {
      text-align: left;
    }
 
}

.footer__text {
  margin-top: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: #ffffff;

  @media screen and (min-width:1200px) {
    text-align: left;
  }
}
.footer__social > .icon {
  width: 20px;
  height: 20px;
  fill: var(--text-white-color);
  
}
.footer__social:hover,
.footer__social:focus {
  background-color: var(--accent-color);
  
}
  

.footer__text {
  margin-top: 0;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;

  color: #ffffff;
}
.footer__social > .icon {
  width: 20px;
  height: 20px;
  fill: var(--text-white-color);
}
.footer__social:hover,
.footer__social:focus {
  background-color: var(--accent-color);
}
